<h3>Title: <%= data.title %></h3>
<h3>Author: <%= data.author %></h3>
<h3>Description: <%= data.description %></h3>
<div>Просмотры: <%= data.views %></div>
<h3>Cover: <img height="200px" src="/api/books/<%= data.id %>/download" /></h3>
<div>
  <a href="/edit/<%= data.id %>">
    <button class="btn btn-primary">Edit</button>
  </a>
  <form method="POST" action="/api/books/delete/<%= data.id %>">
    <button type="submit" class="btn btn-danger">Delete</button>
  </form>
</div>
<br />
<h4>Comments:</h4>
<br />
<div id="list" class="list-group"></div>
<br />
<hr />
<br />
<h5>Leave comment:</h5>
<div>
  <div class="w-50">
    <br />
    <input class="form-control" placeholder="Author" id="author" />
    <br />
    <textarea class="form-control" placeholder="Comment" id="comment"></textarea>
    <br />
    <button type="submit" class="btn btn-primary" id="send-comment">Send</button>
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script>
  const roomName = location.pathname.split('/').pop()
  const socket = io.connect('/', { query: `roomName=${roomName}` })
  const boxList = document.querySelector('#list')
  const authorInput = document.querySelector('#author')
  const commentInput = document.querySelector('#comment')
  const sendCommentBtn = document.querySelector('#send-comment')

  const getTmp = (msg) => `
    <div class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <small>${msg.author}</small>
        </div>
        <p class="mb-1">${msg.comment}</p>
    </div>
  `

  socket.on('comments', (msg) => {
      const div = getTmp(msg)
      boxList.insertAdjacentHTML('beforeend', div)
  })

  sendCommentBtn.addEventListener('click', () => {
      socket.emit('comments', {
          author: authorInput.value,
          comment: commentInput.value,
      })
  })
</script>